{% extends 'index.html' %}

{% block content %}

<div class="container-fluid mt--6">
  

    <!-- Navbar links -->
   
    
   
    <div class="row">
      
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">vendor table</h3>
            
            <br>
      
          
          <!-- Light table -->
          <a href="{%url 'vfilter' %}">
            <button class="btn btn-outline-primary btn-sm" type="submit" >
              <span class="btn-inner--icon">
                <i class="fa fa-search" ></i>
              </span>
              <span class="btn-inner--text">filter </span>
            </button>

          </a>
          <br>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" >Name</th>
                  <th scope="col" >Branch</th>
                  <th scope="col">Email</th>
                  <th scope="col">Address</th>
                  <th scope="col" >Phone</th>
                  <th scope="col">Password</th>
                  <th scope="col">Edit</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody class="list">
                {% for i in vvv %}
                <tr>
                   
                  <th scope="row">
                    <div class="media align-items-center">                
                        {{ i.vendor_name }}
                      
                    </div>
                  </th>
                  <td >
                    {{ i.vendor_branch }}
                  </td>
                  <td>
                    {{ i.vendor_email }}
                  </td>
                  <td>
                    {{ i.vendor_address }}
                  </td>
                  <td>
                    {{ i.vendor_phone }}
                  </td>
                  <td >
                    {{ i.vendor_password }}
                  </td>
                  <td >
                    <a  href="{%url 'vupdate' vendorid=i.id %}">Edit</a>
                  </td>
                  <td >
                    <a  href="{%url 'vdelete' vendorid=i.id %}">Delete</a>
                  </td>
                 
                </tr>
                {% endfor %}
               
              </tbody>
            </table>
            
          </div>
          <!-- Card footer -->
          <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- Dark table -->
    
    <!-- Footer -->
   
    {% endblock %}
