{% extends 'index.html' %}

{% block content %}
<div class="container-fluid mt--6">
     
    <div class="row">
      <div class="col-xl-8">
        <div class="card">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Add vendor</h3>
              </div>
              <div class="col text-right">
                <a href="#listvendor" class="btn btn-sm btn-primary">edit</a>
              </div>
            </div>
          </div>
          <div class="card-body px-lg-5 py-lg-5" id="addvendor">
            
            <form role="form" method="POST" action="{%url 'vadd' %}">
                {% csrf_token %}
              <div class="form-group">
                <div ><label for="vendor_email"> vendor_email</label></div>
                <div class="input-group input-group-merge input-group-alternative mb-3">
                 
                  <div class="input-group-prepend">

                    <span class="input-group-text"><i class="ni ni-hat-3"></i> </span>
                  </div>
                  <input class="form-control" placeholder="vendor_email" type="email" name="vendor_email">
                </div>
              </div>
              <div class="form-group">
                <div ><label for="vendor_branch"> Branch</label></div>
                <div class="input-group input-group-merge input-group-alternative mb-3">
                 
                  <div class="input-group-prepend">

                    <span class="input-group-text"><i class="ni ni-hat-3"></i> </span>
                  </div>
                  <input class="form-control" placeholder="Branch" type="text" name="vendor_branch">
                </div>
              </div>
              <div class="form-group">
                <div ><label for="vendor_name"> Name</label></div>
                <div class="input-group input-group-merge input-group-alternative mb-3">
                 
                  <div class="input-group-prepend">

                    <span class="input-group-text"><i class="ni ni-hat-3"></i> </span>
                  </div>
                  <input class="form-control" placeholder="Name" type="text"name="vendor_name" >
                </div>
              </div>
              <div class="form-group">
                <div ><label for="vendor_password"> Password</label></div>
                <div class="input-group input-group-merge input-group-alternative mb-3">
                 
                  <div class="input-group-prepend">

                    <span class="input-group-text"><i class="ni ni-hat-3"></i> </span>
                  </div>
                  <input class="form-control" placeholder="Password" type="password" name="vendor_password">
                </div>
              </div>
              <div class="form-group">
                <div ><label for="vendor_address"> Address</label></div>
                <div class="input-group input-group-merge input-group-alternative mb-3">
                 
                  <div class="input-group-prepend">

                    <span class="input-group-text"><i class="ni ni-hat-3"></i> </span>
                  </div>
                  <input class="form-control" placeholder="Address" type="text" name="vendor_address">
                </div>
              </div>
              <div class="form-group">
                <div ><label for="vendor_phone"> Phone Number</label></div>
                <div class="input-group input-group-merge input-group-alternative mb-3">
                 
                  <div class="input-group-prepend">

                    <span class="input-group-text"><i class="ni ni-hat-3"></i> </span>
                  </div>
                  <input class="form-control" placeholder="Phone Number" type="tel" name="vendor_phone">
                </div>
              </div>
            
              
              <div class="text-center">
                <button type="submit" class="btn btn-primary mt-4">Create</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="card" id="listvendor">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0"></h3>
              </div>
              <div class="col text-right">
                <a href="{%url 'vlist' %}" class="btn btn-sm btn-primary">View all</a>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Details</th>
                  <th scope="col">Edit</th>
                </tr>
              </thead>
              <tbody>
                {% for i in vvv %}
                <tr>
                 
                  <th scope="row">
                    <a href="{%url 'vupdate' vendorid=i.id %}" >{{ i.vendor_name }}</a>
                    
                  </th>
                  <td>
                    {{ i.vendor_email }}
                  </td>
                  <td>
                    
                      {{ i.vendor_phone }}
                    </div>
                  </td>
                
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    {% endblock %}